* {
  box-sizing: border-box;
}

section {
  background-color: #24353f;
  height: 100vh;
  padding-block: 4.375rem;
}

.content {
  background-color: #24353f;
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
  color: #17a2b8;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.content input {
  width: 95%;
  margin: auto;
  margin-block: 0.625rem;
  color: #fff !important;
  background-color: transparent !important ;
}
.content button {
  width: 95%;
}

.content p {
  color: #fff;
}

.content p a {
  text-decoration: none;
  color: #17a2b8;
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

/* media query */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.875rem;
  }

  .content button {
    width: 100%;
  }

  .content input {
    width: 100%;
  }
}
